<!DOCTYPE html>
<!--
	Salient by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>출결관리 시스템</title>

  <!-- Custom Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

  <!-- Bootstrap CSS Style -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">

  <!-- Template CSS Style -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Animate CSS  -->
  <link rel="stylesheet" href="assets/css/animate.css">

  <!-- FontAwesome 4.3.0 Icons  -->
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <!-- et line font  -->
  <link rel="stylesheet" href="assets/css/et-line-font/style.css">

  <!-- BXslider CSS  -->
  <link rel="stylesheet" href="assets/css/bxslider/jquery.bxslider.css">

  <!-- Owl Carousel CSS Style -->
  <link rel="stylesheet" href="assets/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="assets/css/owl-carousel/owl.theme.css">
  <link rel="stylesheet" href="assets/css/owl-carousel/owl.transitions.css">

  <!-- Magnific-Popup CSS Style -->
  <link rel="stylesheet" href="assets/css/magnific-popup/magnific-popup.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
	
</head>
<body>

  <!-- Preload the Whole Page -->
  <div id="preloader">      
    <div id="loading-animation">&nbsp;</div>
  </div>

  <!-- Navbar -->
  <header class="header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="#"><img src="assets/images/multicampus.jpg" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a class="section-scroll" href="#wrapper">메인화면</a></li>
            <li><a href="#landing-offer">출결 체크</a></li>
            <li><a href="#features-section">출결 현황</a></li> 
            <li><a href="#contact-section">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>
  <!-- End Navbar -->

  <div id="wrapper">

  <!-- Hero
  ================================================== -->
    <section>
      <div id="hero-section" class="landing-hero" data-stellar-background-ratio="0">
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">

                <div class="hero-text">
                  <div class="herolider">

                      <li class="caption">
                        <h1>일석이조 Attendance</h1>
                        <div class="div-line"></div>
                        <p class="hero">Click here</p>
                      </li>
                  </div> <!-- end herolider -->
                </div> <!-- end hero-text -->

                <div class="hero-btn">
                  <a href="#landing-offer" class="btn btn-clean">QR</a>
                  <a href="#landing-offer" class="btn btn-clean">Bluetooth</a>
                  <a href="#landing-offer" class="btn btn-clean">signal</a>
                </div> <!-- end hero-btn -->


              </div> <!-- end col-md-6 -->
            </div> <!-- end row -->
          </div> <!-- End container -->
        </div> <!-- End hero-content -->
      </div> <!-- End hero-section -->
    </section>
    <!-- End hero section -->

    <!-- Offer
    ================================================== -->
    <section>
      <div id="landing-offer" class="pad-sec">
        <div class="container">

          <div class="title-section big-title-sec animated out" data-animation="fadeInUp" data-delay="0">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h2 class="big-title">Some information about us</h2>
                <h1 class="big-subtitle">We’re small branding &amp; digital studio</h1>
                <hr>
                <p class="about-text">Cras porta dolor ut velit imperdiet, quis sodales tellus facilisis. Vestibulum magna turpis, tincidun blandit semper lorem. Mauris nodesterin feugiat neque, a aliquet ligula. Sed non felis tincidunt, facilisis felis vitae, mollis est. Nulla sapien dui, feugiat sed velit a, egestas porta magna.</p>
              </div>
            </div> <!-- End row -->
          </div> <!-- end title-section -->

          <div class="offer-boxes">

            <div class="row">
            <div class="col-sm-4">
              <div class="offer-post text-center animated out" data-animation="fadeInLeft" data-delay="0">
                <div class="offer-icon">
                  <span class="icon-desktop"></span>
                </div>
                <h4>DESIGNS &amp; INTERFACES</h4>
                <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
              </div> <!-- End offer-post -->
            </div> <!-- End col-sm-4 -->

            <div class="col-sm-4">
              <div class="offer-post text-center animated out" data-animation="fadeInUp" data-delay="0">
                <div class="offer-icon">
                  <span class="icon-piechart"></span>
                </div>
                <h4>Branding</h4>
                <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
              </div> <!-- End offer-post -->
            </div> <!-- End col-sm-4 -->

            <div class="col-sm-4">
              <div class="offer-post text-center animated out" data-animation="fadeInRight" data-delay="0">
                <div class="offer-icon">
                  <span class="icon-lifesaver"></span>
                </div>
                <h4>Dedicated support</h4>
                <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
              </div> <!-- End offer-post -->
            </div> <!-- End col-sm-4 -->

            </div> <!-- End row -->

          </div> <!-- End offer-boxes -->
        </div> <!-- End container -->
      </div> <!-- End landing-offer-section -->
    </section>
    <!-- End offer section -->

    <section>
      <div class="sep-section"></div>
    </section>

    <!-- Features services
    ================================================== -->
    <section>
      <div id="features-section" class="pad-sec">
        <div class="container">
          <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h2>What we do?</h2>
                <hr>
                <p>Seamlessly restore client-focused potentialities rather than functional strategic theme areas.</p>
              </div> <!-- edn col-sm-8 -->
            </div> <!-- End row -->
          </div> <!-- end title-section -->
          <div class="row">
            <div class="col-md-3 without-padding">
              <div class="left-features-services">
                <ul class="features-list">
                  <!-- feature -->
                  <li>
                    <div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
                      <span class="iconbox"><i class="icon-mobile"></i></span>
                      <div class="features-box-content">
                        <h6>Mobile App</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div> <!-- end features-box-content -->
                    </div> <!-- end left-features-box -->
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
                      <span class="iconbox"><i class="icon-browser"></i></span>
                      <div class="features-box-content">
                        <h6>Web design</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div> <!-- end features-box-content -->
                    </div> <!-- end left-features-box -->
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
                      <span class="iconbox"><i class="icon-strategy"></i></span>
                      <div class="features-box-content">
                        <h6>Branding</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div> <!-- end features-box-content -->
                    </div> <!-- end left-features-box -->
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
                      <span class="iconbox"><i class="icon-hotairballoon "></i></span>
                      <div class="features-box-content">
                        <h6>Logo design</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div> <!-- end features-box-content -->
                    </div> <!-- end left-features-box -->
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
                      <span class="iconbox"><i class="icon-lightbulb"></i></span>
                      <div class="features-box-content">
                        <h6>Illustrations</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div> <!-- end features-box-content -->
                    </div> <!-- end left-features-box -->
                  </li>
                </ul> <!-- end features-list -->
              </div> <!-- end left-features-service -->
            </div><!--  end col-md-3 -->

            <div class="col-md-6">
              <div class="features-image animated out" data-animation="fadeInUp" data-delay="0">
                <img src="assets/images/temp/woman.jpg" alt="">
              </div> <!-- end features-image -->
            </div> <!-- end col-md-6 -->

            <div class="col-md-3 without-padding">
              <div class="right-features-services">
                <ul class="features-list">
                  <!-- feature -->
                  <li>
                    <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                      <span class="iconbox"><i class="icon-tools-2"></i></span>
                      <div class="features-box-content">
                        <h6>Easy Customization</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div>
                    </div>
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                      <span class="iconbox"><i class="icon-video"></i></span>
                      <div class="features-box-content">
                        <h6>Video</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna</p>
                      </div>
                    </div>
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                      <span class="iconbox"><i class="icon-camera"></i></span>
                      <div class="features-box-content">
                        <h6>Photography</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div>
                    </div>
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                      <span class="iconbox"><i class="icon-presentation"></i></span>
                      <div class="features-box-content">
                        <h6>Marketing</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div>
                    </div>
                  </li>
                  <!-- feature -->
                  <li>
                    <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                      <span class="iconbox"><i class="fa fa-life-ring"></i></span>
                      <div class="features-box-content">
                        <h6>Support</h6>
                        <p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
                      </div>
                    </div>
                  </li>
                </ul> <!-- end features-list -->
              </div>
            </div> <!-- end col-md-3 -->

          </div> <!-- end row -->
        </div> <!-- end container -->
      </div>
    </section>
    <!-- End features-section -->

    <!-- Video section
    ================================================== -->