  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        
      - name: docker build
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/team2:django_latest .
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/team2:django_${GITHUB_RUN_NUMBER} .
          
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: docer push
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/team2 --all-tags
        
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1 
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:  ${{ secrets.AWS_DEFAULT_REGION }}
          
      # Connect to EKS cluster
      - name: Connect to EKS cluster 
        run: aws eks --region  ${{ secrets.AWS_DEFAULT_REGION }} update-kubeconfig --name  ${{ secrets.EKS_NAME }}
      
      #
      
      # rollout   
      - name: was-deploy restart
        run: kubectl set image deploy/was was=${{ secrets.DOCKERHUB_USERNAME }}/team2:django_${GITHUB_RUN_NUMBER}
        

        
